{% extends ":site:index.html.twig" %}

{% block section %}
   <div class="header">
        <div class="title-fabrication">
            <div class="opaque2"></div>
            {#<h1>Fabrication</h1>#}
          </div>
       
       <section class="presentation">
            <div class="container">
                <div class="col-lg-offset-1">
                <img class="col-lg-3 col-sm-12 margin" src="{{asset('./images/web.png')}}" alt="">
                </div>
                <div class="col-lg-6 col-lg-offset-1 col-sm-12">
                    <div class="margin">
                        <div class="margin-min">
                            <h3>NOM</h3>
                            <h3>PRENOM</h3>
                        </div>
                        <p>
                            On sait depuis longtemps que travailler avec du texte lisible et contenant du sens est source de distractions, et empêche de se concentrer sur la mise en page elle-même. L'avantage du Lorem Ipsum sur un texte générique comme 'Du texte. Du texte. Du texte.' est qu'il possède une distribution de lettres plus ou moins normale, et en tout cas comparable avec celle du français standard. De nombreuses suites logicielles de mise en page ou éditeurs de sites Web ont fait du Lorem Ipsum leur faux texte par défaut, et une recherche pour 'Lorem Ipsum' vous conduira vers de nombreux sites qui n'en sont encore qu'à leur phase de construction. Plusieurs versions sont apparues avec le temps, parfois par accident, souvent intentionnellement (histoire d'y rajouter de petits clins d'oeil, voire des phrases embarassantes).
                        </p>
                    </div>
                </div>
            </div>
        </section>
                
         <section class="ingredient">
             <div class="container">
              <div class="title-ingredient">
                  <h2>Mes Ingrédients</h2>
              </div>
             <div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
        <div class="icon-ingredient">
      <img src="{{asset('./images/pure-water-drop.png')}}" alt="...">
        </div>
      <div class="caption">
        <h3>eaux de source</h3>
        <p>blablabla</p>
      </div>
    </div>
  </div>
   <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
        <div class="icon-ingredient">
      <img src="{{asset('./images/wheat-grains.png')}}" alt="...">
        </div>
      <div class="caption">
        <h3>malt de blé</h3>
        <p>blablabla</p>
      </div>
    </div>
  </div>
   <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
        <div class="icon-ingredient">
      <img src="{{asset('./images/wheat.png')}}" alt="...">
        </div>
      <div class="caption">
        <h3>malt d'orgue</h3>
        <p>blablabla</p>
    </div>
  </div>
</div>
             </div>
        
   <div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
        <div class="icon-ingredient">
      <img src="{{asset('./images/hop.png')}}" alt="...">
        </div>
      <div class="caption">
        <h3>hublons</h3>
        <p>blablabla</p>
      </div>
    </div>
  </div>
   <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
        <div class="icon-ingredient">
      <img src="{{asset('./images/inclined-candy.png')}}" alt="...">
        </div>
      <div class="caption">
        <h3>sucre</h3>
        <p>blablabla</p>
      </div>
    </div>
  </div>
   <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
        <div class="icon-ingredient">
      <img src="{{asset('./images/muffin.png')}}" alt="...">
        </div>
      <div class="caption">
        <h3>levure</h3>
        <p>blablabla</p>
      </div>
    </div>
  </div>
</div>
             </div>
          
             
         </section>
        
         <div class="fabrication">
             <div class="opaque2"></div>
             <div class="title-fabri">
             <h2>fabrication</h2>
             </div>
         </div>
        
       <section class="container">
            <div class="col-lg-6 col-lg-offset-3 col-sm-12">
                <img class="img-responsive" src="{{asset('./images/bg.jpg')}}" alt="">

                <h2 class="margin-min">1er moitier</h2>
                <p>
                    On sait depuis longtemps que travailler avec du texte lisible et contenant du sens est source de distractions, et empêche de se concentrer sur la mise en page elle-même. L'avantage du Lorem Ipsum sur un texte générique comme 'Du texte. Du texte. Du texte.' est qu'il possède une distribution de lettres plus ou moins normale, et en tout cas comparable avec celle du français standard. De nombreuses suites logicielles de mise en page ou éditeurs de sites Web ont fait du Lorem Ipsum leur faux texte par défaut, et une recherche pour 'Lorem Ipsum' vous conduira vers de nombreux sites qui n'en sont encore qu'à leur phase de construction. Plusieurs versions sont apparues avec le temps, parfois par accident, souvent intentionnellement (histoire d'y rajouter de petits clins d'oeil, voire des phrases embarassantes).
                </p>
            </div>
        </section>
        
       
       
        </div>
{%endblock%}
