{%extends ":admin:index.html.twig"%}

{% block body %}
    <div class="header">
        {#<img src="{{asset('uploads/img/')~biere.images}}" alt="{{biere.images.noms}}">#}
        {% if id is defined%}
            {{form_start(biere,{'attr':{'action':path('maj',{'id':id})}})}}
        {% else%}
            {{form_start(biere,{'attr':{'action':path('valid')}})}}
        {%endif%}
        {{form_rest(biere)}}
        {{form_end(biere)}}        
    </div>
{% endblock %}
