<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Admin{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="{{asset('./css/bootstrap.css')}}"/>
    <link rel="stylesheet" type="text/css" href="{{asset('./css/new_css/main.css')}}"/>
    <link rel="stylesheet" type="text/css" href="{{asset('./css/new_css/back.css')}}"/>
    <link rel="stylesheet" type="text/css" href="{{asset('./css/font-awesome.min.css')}}"/>
    <link rel="stylesheet" type="text/css" href="{{asset('./css/animate.css')}}"/>
</head>
<body>
    <div id="main-nav">
        <div class="main">
            <nav class="navbar navbar-main navbar-fixed-top">
                <div class="container">
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav">
                            <li><a href="{{path('adminbiere')}}">Bières</a></li>
                            <li><a href="{{path('adminactu')}}">Actualités</a></li>
                            <li><a href="{{path('img')}}">Ajouter images</a></li>
                            <li><a href="{{path('deco')}}">déconnexion</a></li>
                        </ul>
                    </div><!-- navbar-collapse -->
                </div>
            </nav>
        </div>
    </div>
    {% block body %}
    {% endblock %}
    <script src="{{asset('./scripts/jquery.js')}}"></script>
    <script src="{{asset('./scripts/bootstrap.js')}}"></script>
    <script src="{{asset('./scripts/main.js')}}"></script>
</body>
</html>
